@font-face {
 font-family: "UndefinedMedium";
 src: url("../undefined-medium.ttf") format("truetype")
}

body {
	background: #000;
	margin: 0;
	cursor: none;
	font-family: UndefinedMedium;
}


canvas {
	position: fixed;
	top:0;
	left:0;
	margin:0;
}

.menu {
	position: fixed;

	background-color: white;
	//font-family: courier;
	margin:0;
	padding:10px 20px;
	
	animation-duration: 1s;
}

.menu.mot {
	animation-name: slideinleft;
	top: 20px;
}

.menu.right {
	bottom: 20px;
	right:0px;
	width:180px;
	animation-name: slideinright;
}

.menu.right:nth-of-type(2) {
	bottom: 70px;
}

.menu.right:nth-of-type(3) {
	bottom: 120px;
}

@keyframes slideinleft {
	from {
		margin-left: -100%;
	}

	to {
		margin-left:0px;
	}
}

@keyframes slideinright {
	from {
		margin-right: -100%;
	}

	to {
		margin-right:0px;
	}
}
